* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Ubuntu";
  outline: none;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

canvas {
  z-index: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}

#wrapper {
  z-index: 2;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;

  .chat-input {
    transition: all 0.3s ease-in-out;
    position: absolute;
    z-index: 2;
    bottom: 10px;
    opacity: 0.5;
    background: rgba(0, 0, 0, 0.5);
    border: 0px;
    outline: none;
    color: #fff;
    height: 30px;
    text-indent: 12px;
    left: 10px;
    width: 300px;
    font-family: "Ubuntu";

    &.disabled {
      opacity: 0.25;
      pointer-events: none;
    }

    &:focus {
      opacity: 1;
    }
  }

  .touch-circle {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    transition: 100ms ease-in-out opacity;
    pointer-events: none;
    background-color: rgba(255, 0, 0, 0.25);
    width: 4vw;
    height: 4vw;
    border-radius: 50%;

    &.visible {
      opacity: 1;
    }
  }

  .control-btn {
    display: none;
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
    background: rgba(200, 200, 200, 0.6);
    opacity: 0.5;
    position: absolute;
    z-index: -1;
    filter: invert(1);

    &.split {
      right: 18vw;
      bottom: 10px;
    }

    &.eject {
      bottom: 18vw;
      right: 10px;
    }
  }

  .menu-btn {
    position: absolute;
    left: 10px;
    top: 50vh;
    transform: translate(0%, -50%);
    color: rgba(255, 255, 255, 0.75);
    font-size: 16px;
    z-index: -1;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    display: none;

    svg {
      width: 16px;
      height: 16px;
      pointer-events: none;
    }
  }

  @media screen and (max-width: 769px) {
    .mobile-btn {
      display: flex !important;
    }
  }

  .backdrop-content {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: 100ms all ease-in-out;
    width: 100vw;
    height: 100vh;

    &.visible {
      opacity: 1;
      pointer-events: all !important;
    }

    .centered {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;

      .main-modal {
        height: 200px;
        width: 300px;
        background-color: #202225;
        padding: 16px;
        border-radius: 16px;
        border: 2px solid #2f3136;
        box-shadow: 0px 0px 32px #2f3136;
        outline: 2px solid #202225;
        outline-offset: 4px;
        position: relative;

        .skin-container {
          width: 150px;
          height: 150px;
          border-radius: 50%;
          background-position: center;
          background-size: cover;
          position: absolute;
          left: 50%;
          top: -25px;
          transform: translate(-50%, -50%);
          background-color: #202225;
          border: 8px solid #2f3136;
          box-shadow: 0px 0px 32px #2f3136;
          outline: 2px solid #202225;
          // outline-offset: 4px;
          display: flex;
          align-items: center;
          justify-content: center;

          input {
            width: 100px;
            color: rgb(255, 255, 255);
            font-size: 18px;
            text-align: center;
            border: 0;
            background-color: rgba(0, 0, 0, 0.5);
            padding: 4px;
            border-radius: 4px;
            opacity: 0.75;
            transition: 100ms ease-in-out all;

            &:hover,
            &:focus {
              opacity: 1;
            }
          }
        }

        & > .content {
          padding-top: calc(36px + 16px);
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 8px;

          .name-input {
            color: rgb(255, 255, 255);
            font-size: 18px;
            text-align: center;
            border: 0;
            background-color: rgba(0, 0, 0, 0.75);
            padding: 8px;
            border-radius: 4px;
            transition: 100ms ease-in-out all;
          }

          .button-container {
            color: rgb(255, 255, 255);
            width: 100%;
            display: flex;
            align-items: center;
            gap: 8px;

            button {
              color: rgb(255, 255, 255);
              font-size: 16px;
              text-align: center;
              border: 0;
              background-color: rgba(0, 0, 0, 0.25);
              padding: 12px;
              border-radius: 4px;
              transition: 100ms ease-in-out all;
              cursor: pointer;
              width: 100%;

              &:hover {
                background-color: rgba(0, 0, 0, 0.5);
              }

              &:active {
                background-color: rgba(0, 0, 0, 0.35);
              }
            }
          }
        }
      }

      @media screen and (max-width: 769px) {
        .main-modal {
          width: 225px;
          height: 142px;
          padding: 8px;
          border-radius: 8px;

          .skin-container {
            width: 100px;
            height: 100px;

            input {
              font-size: 14px;
              width: 75px;
            }
          }

          & > .content {
            padding-top: calc(26px + 8px);
          }
        }
      }
    }
  }
}
