<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>æAgar</title>
    <link rel="stylesheet" href="/assets/styles/style.css">
    <link id="favicon" rel="icon" type="image/png" href="assets/img/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:700" rel="stylesheet" type="text/css">
</head>

<body>
    <canvas></canvas>
    <div id="app">
        <div id="wrapper">
            <input class="chat-text-box" type="text" autocomplete="off" spellcheck="false" placeholder="Sohbet.."
                @blur="onChatBlur" @focus="onChatFocus" @keydown="onChatKeyDown" maxlength="200" />
            <div class="backdrop-content" :class="{'visible': isESCOverlayVisible}">
                <div class="centered">
                    <div class="modal main-modal">
                        <div class="skin-container"
                            :style="`background-image: url('https://i.imgur.com/${skin}.png');`">
                            <input type="text" v-model="skin" maxlength="7" placeholder="Skin Code" spellcheck="false"
                                autocomplete="off">
                        </div>
                        <div class="content">
                            <input class="name-input" type="text" v-model="name" autocomplete="off" spellcheck="false">
                            <div class="button-container">
                                <button class="play-button" @click="onPlay">Oyna</button>
                                <button class="spectate-button" @click="onSpectate">İzle</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        Array.prototype.remove = function (a) {
            const i = this.indexOf(a);
            return i !== -1 && this.splice(i, 1);
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <script src="/assets/scripts/index.js" type="module"></script>
</body>

</html>